.DS_Store
Thumbs.db
*.swp
*.tmp
*.qcow2
*.img
*.iso




# Dependencies
node_modules/

# Secrets (unencrypted)
secrets/*.txt

# Ignore Smart Environment folder
.smart-env.ocp/
*.db
bun.lockb
feed.json
.smart-env/
**/node_modules/
.obsidian/plugins/obsidian-git/.git_credentials_input

# CLI tool local state
.opencode/
opencode.json
